In [1]:
print("abdullah ile birlikte el ele")

abdullah ile birlikte el ele

In [2]:
input("say my mane :")

say my mane : slrgg

'slrgg'

In [3]:
print(5000 - (5000*0.27))

3650.0

In [4]:
print(4000 - (4000*0,27))

<class 'TypeError'>: unsupported operand type(s) for -: 'int' and 'tuple'

In [6]:
print(5000 - (5000*0.27))
print(4000 - (4000*0.27))

3650.0
2920.0

In [7]:
maasAli = 5000
maasAhmet = 4000
vergi = 0.27
print(maasAli - (maasAli*vergi))
print(maasAhmet - (maasAhmet*vergi))

3650.0
2920.0

In [8]:
#degisken rakam ile başlayamaz

In [9]:
number = 10
print("number")
number += 50
print("number")

number
number

In [10]:
number1= 10
print(number1)
number += 50
print(number)

10
110

In [11]:
#degiskende turkce karakter kullanmayalım

In [13]:
# x = 1 # int
# y = 2.3 #float
# name = 'Çınar' # str
# isStudent = true # bool

In [15]:
a = '10'
b = '20'
print(a+b)
print("\n........\n")

1020

........

In [16]:
a = 10
b = 20
print(a+b)
print("\n ... \n... \n")

30

 ...
...

In [20]:
x, y, name , isStudent = (2, 2.4, 'Ferhat', 'true')
print('name' , 'x' ,  'isStudent' ,  'y')

name x isStudent y

In [21]:
order1 = 45
order2 = 55
order3 = 65
total = order1+order2+order3
print("total", total)

total 165

In [24]:
order1 = '45'
order2= '55'
order3= '65'
total = order1+ order2+ order3
print("toplam", total) # ifade str olguğu için böyle yan yana metinmiş gibi algıladı

toplam 455565

In [25]:
x=  input("1. sayı : ")
y = input("2. sayı : ")
toplam = x + y
print(x+y)

1. sayı :  45
2. sayı :  55

4555

In [27]:
x = input ("1.sayı : ")
y = input ("2. sayı : ")
print(type(x))
print(type(y))
toplam = int(x) + int(y) # burada str yi int e çevirme işlmei yaptık
print(toplam)

1.sayı :  24
2. sayı :  55

<class 'str'>
<class 'str'>
79

In [30]:
'''
Daire alanı = πr**2
Daire çevresi = 2πr
Yarıçapı ve çapı verilen dairenin alanını ve çevresini hesaplayınız'''
yaricap = float(input("Yarıçap : "))# input çıktısı her zaman str bir değer döndürür str bir değer ile int veya float değer çarpılamaz.
pi = 3.14
cevre = 2*pi*yaricap
alan = pi*yaricap**2
print("cevre", cevre)
print("alan", alan)

Yarıçap :  12

cevre 75.36
alan 452.16

In [36]:
pi = 3.14
r = float(input("yaricap : "))
alan = pi*r**2
cevre = 2*pi*r
print("Alan :  " +  str(alan) +  " Çevre :  " + str(cevre))

yaricap :  3

Alan :  28.26 Çevre :  18.84

In [5]:
name = 'Ferhat'
Surname = 'Gudek'
age = 23
print('My name is : '+ name +' '+ Surname+' And I am : '+str(age) +' years old' )

My name is : Ferhat Gudek And I am : 23 years old

In [11]:
name = 'Ferhat'
Surname = 'Gudek'
age = 23
greeting ='My name is : '+ name +' '+ Surname+' And I am : '+str(age) +' years old' 
print(greeting[0])
print(len(greeting))
print(greeting[3:4])
print(greeting[0:6:2])
print(greeting[-1])

M
49
n
M a
d

In [13]:
name = 'Ferhat'
Surname = 'Gudek'
print("My name is {}, my surname is {}".format(name, Surname))

My name is Ferhat, my surname is Gudek

In [14]:
 name = 'Ferhat'
Surname = 'Gudek'
print("My name is {1}, my Surname is {0}".format(name,Surname))

My name is Gudek, my Surname is Ferhat

In [17]:
result = 300/500
print('İşlemin sonucu :{} '.format(result))

İşlemin sonucu :0.6

In [20]:
result = 123 / 455
print("İşlemin sonucu : {r:1.2}".format(r=result))

İşlemin sonucu : 0.27

In [24]:
name = 'Ferhat'
surname = 'gudek'
Age = 24
print(f"My name is {name}, my surname is {surname}, and i am {Age} years old.")

My name is Ferhat, my surname is gudek, and i am 24 years old.

In [38]:
#Uygulama için bir örnek istenilen ifadeleri verilen değişkenlerle yapmaya çalışalım
website = "http://www.FerhatGudek.com"
course = "Python kursu : Baştan sona haria bir eğitim almanızı istiyoruz (100 ile)"

#Course karakter dizisinde kaç karakter bulunmaktadır ?
len(course)
#website içindeki www karakterlerini alınız.
len(course[8:12]) # bu boyu için 
website[7:10] # bu direkt karakterleri verir.
# website içindeki com karakterlerini alınız
website[-3:]
#course içindeki ilk 15 ve son 15 karakterleri alınız
course[:15]# ilk 15
course[-15:] # son 15
#Asagıdaki değişkenlerle verilen ifadeyi yazmaya çalışalım
#  "Benim adım Ferhat Güdek , yaşım 24 ve mesleğim fizikçi"
name, surname, age , job = "Ferhat", "Güdek", 24 , "fizikçi"
print(f"Benim adım {name} {surname}, yaşım {age} ve mesleğim {job}")

Benim adım Ferhat Güdek, yaşım 24 ve mesleğim fizikçi

In [40]:
#course ifadesinideki karakterleri tersten yazdıralım
course[::] # tüm karakterleri yazar
course[::-1] # tüm karakterleri tersten yazar.
# "Hello world" ifadsindeki "w" ile "W" yer değiştirelim
s = "Hello world"
t = s[0:4]+'

')eli 001( zuroyitsi ızınamla mitiğe rib airah anos natşaB : usruk nohtyP'